.container {
	display: flex;
	background-color: beige;
	border: 2px red solid;
	justify-content: center;
	margin-top: 100px;
	width: 100%;
	min-height: 100vh;
	text-align: center;
	text-align: center;
	flex-direction: row;
	align-items: center;
}
.card {
	display: inline-block;
	background-color: darkorange;
	width: 13em;
	border-radius: 15px;
	padding: 16px;
	box-shadow: 0 5px 25px gray;
	transition: 0.4s ease;
	margin: 20px;
	text-transform: capitalize;
	text-align: center;
}
.card:hover{
	transform: scale(1.1);
}
.icon {
	color: blueviolet;
	font-size: 5em;
}
.title {
	color: navy;
	font-weight: 300px;
	text-align: center;
}